<h1>Enter a number between 1 and 1 trillion: </h1>
<form action='/converted'>
  <div class="form-group">
    <label for="usernum">Your sentence</label>
    <input name="usernum" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-succcess">Go!</button>
</form>
