<!DOCTYPE html>
<html>
  <head>
    <title>Wordy numbers</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="jumbotron">
      <h1> Your word score is: <%= @words_output%> </h1>
    </div>
  </body>
</html>
